/* font-family: "HelveticaNeueMedium"; */
@font-face {
    font-family: "HelveticaNeueMedium";
    src: url("../fonts/HelveticaNeueCyr-Medium.eot");
    src: url("../fonts/HelveticaNeueCyr-Medium.eot?#iefix")format("embedded-opentype"),
        url("../fonts/HelveticaNeueCyr-Medium.woff") format("woff"),
        url("../fonts/HelveticaNeueCyr-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaNeueRoman"; */
@font-face {
    font-family: "HelveticaNeueRoman";
    src: url("../fonts/HelveticaNeueCyr-Roman.eot");
    src: url("../fonts/HelveticaNeueCyr-Roman.eot?#iefix")format("embedded-opentype"),
        url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff"),
        url("../fonts/HelveticaNeueCyr-Roman.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaNeueLight"; */
@font-face {
    font-family: "HelveticaNeueLight";
    src: url("../fonts/HelveticaNeueCyr-Light.eot");
    src: url("../fonts/HelveticaNeueCyr-Light.eot?#iefix")format("embedded-opentype"),
        url("../fonts/HelveticaNeueCyr-Light.woff") format("woff"),
        url("../fonts/HelveticaNeueCyr-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}